# cache
.cache
.swc

# dependencies
node_modules

# production
build
dist

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# envs
.env
.env*
!.env.example

# idea
.idea

# temporary
.temp

# vite
vite.config.ts.timestamp-*

# storybook
*storybook.log
storybook-static

# misc
.DS_Store
*.pem
